apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: tssc-app1-svc
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/opdev-tssc-demo/tssc-app1-img:f986a1cab8cf464e91dc95a9cf06cee12d819339@sha256:81b06c922594338fdfdd932a468b2da223c7d20063a44cee87c064301842bfe5
          name: container-image
